
{% extends 'base.html' %}

{%block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
       <!-- <div>Mensagen Flash</div> --> 
        <div>
            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Como enviar e receber dados via método GET e POST -->
    <form action="/autenticar" method="post">
        Usuario: <input type="text" name="usuario"><br/>
        Senha: <input type="text" name="senha"><br/>
        <button type="submit">Entrar</button>
    </form>


{% endblock %}